<!-- htmlhint spec-char-escape:false -->

<!--
This is the head of our page. It is where we load all of our dependencies and define a few of our app's atributes
-->

<!-- The title is what name will display in the browser's tab bar and in Google search results -->
<title>STT</title>

<!-- JavaScript Dependencies -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Rate Yo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<!-- Isotope -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Dependencies -->
<!-- jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- Rate Yo -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

<!-- Our CSS -->
<link rel="stylesheet" href="/css/styles.css" type="text/css">

<!-- Favicon ( Tab bar icon ) -->
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/2123351c-8ef1-4511-b4eb-8321daff5562%2Fapple-touch-icon.png?1508543692586">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/2123351c-8ef1-4511-b4eb-8321daff5562%2Ffavicon-32x32.png?1508543692549">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/2123351c-8ef1-4511-b4eb-8321daff5562%2Ffavicon-16x16.png?1508543693469">
<link rel="shortcut icon" href="https://cdn.glitch.com/2123351c-8ef1-4511-b4eb-8321daff5562%2Ffavicon.ico?1508543692890">
<meta name="theme-color" content="#ffffff">
