<!-- htmlhint spec-char-escape:false -->

<!--
This partial prints out the site's navigation bar
-->

<div class="nav">
  <ul>
    <li class="name"><a href="/"><img src="https://cdn.gomix.com/b07a12d5-7910-4ca6-9f1f-ae0aa2d99417%2Fcatbnb-logo-white.png">&nbsp;&nbsp;Speech to Text Tool</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/media">File List</a></li>
    <!-- <li><a href="/transcript">View Subtitles</a></li> -->
  </ul>
</div>
