<!-- htmlhint spec-char-escape:false -->

<!--
This is our 'home' view.
-->

<!DOCTYPE html>

<html>

<head>

  <!--
  This EJS tag evaluates and prints the statement following it
  The 'include' statement allows us to insert content from other views (called partials) into this view.

  The 'head' partial, located at 'views/partials/head.ejs' has all of our JavaScript and CSS dependencies.
  If you remove it, the site will look quite plain.
  -->

  <%- include( 'partials/head' ); %>
  <style>
   .container {
       width: 500px;
       margin: 0 auto;
   }
   .progress_outer {
       border: 1px solid #000;
   }
   .progress_bar {
       width: 0%;
       background: #228B22;
       height: 20px;
       text-align: center;
       margin:0 auto;
   }
   </style>
</head>

<body>

  <!--
  The 'nav' partial contains our site's navigation bar
  -->

	<%- include( 'partials/nav' ); %>

  <div class='container'>
          <p>

              <form id='_type_form' enctype="multipart/form-data" >
                    <label>File Type: &nbsp; </label>
                    <label>Video</label>
                    <input type="radio" name="type" id="_video" value="video" />
                    <label>Radio</label>
                    <input type="radio" name="type" id="_radio" value="radio" checked />
              </form>
          </p>
          <p>
              <form id='_language_form' enctype="multipart/form-data" >
                    <label>File Language: &nbsp; </label>
                    <label>English</label>
                    <input type="radio" name="language" id="_english" value="english" checked />
                    <label>French</label>
                    <input type="radio" name="language" id="_french" value="french" />
              </form>
          </p>
          <p>
              Select File:
              <form method='POST' id='_file_form' enctype="multipart/form-data" action="/upload">
                  <input type='file' id='_file' name='file'>
                  <input type='submit' id='_submit' value='Upload!'>
              </form>
          </p>
          <div class='progress_outer'>
              <div id='_progress_bar' class='progress_bar'></div>
          </div>
  </div>
  <script type="text/javascript" src="/js/home.js"></script>

  <!--
  The 'footer' partial contains our site's footer. Don't forget to put your name in there :)
  -->

  <%- include( 'partials/footer' ); %>

</body>

</html>
