<!-- htmlhint spec-char-escape:false -->

<!--
This is our 'home' view.
-->

<!DOCTYPE html>

<html>

<head>

  <!--
  This EJS tag evaluates and prints the statement following it
  The 'include' statement allows us to insert content from other views (called partials) into this view.

  The 'head' partial, located at 'views/partials/head.ejs' has all of our JavaScript and CSS dependencies.
  If you remove it, the site will look quite plain.
  -->

  <%- include( 'partials/head' ); %>
  <style>
   .container {
       width: 500px;
       margin: 0 auto;
   }
   .progress_outer {
       border: 1px solid #000;
   }
   .progress {
       width: 0%;
       background: #DEDEDE;
       height: 20px;
   }
   </style>
</head>

<body>

  <!--
  The 'nav' partial contains our site's navigation bar
  -->

	<%- include( 'partials/nav' ); %>

  <div class='container'>
          <p>
              Select File:
              <form enctype="multipart/form-data" method="post" action="/upload">
                  <input type='file' id='_file' name='uploads[]' multiple="multiple">
                  <input type='button' id='_submit' value='Upload!'>
              </form>
          </p>
          <div class='progress_outer'>
              <div id='_progress' class='progress'></div>
          </div>
  </div>
  <script>
          var _submit = document.getElementById('_submit'),
        _file = document.getElementById('_file'),
        _progress = document.getElementById('_progress');

        var upload = function(){

        if(_file.files.length === 0){
            return;
        }

        var data = new FormData();
        data.append('SelectedFile', _file.files[0]);

        var request = new XMLHttpRequest();
        request.onreadystatechange = function(){
            if(request.readyState == 4){
                try {
                    var resp = JSON.parse(request.response);
                    console.log(resp.status + ': ' + resp.data);
                } catch (e){
                    var resp = {
                        status: 'error',
                        data: 'Unknown error occurred: [' + request.responseText + ']'
                    };
                }

            }
        };

        request.upload.addEventListener('progress', function(e){
            _progress.style.width = Math.ceil(e.loaded/e.total) * 100 + '%';
        }, false);

        request.open('POST', '/upload');
        request.send(data);
        }

        _submit.addEventListener('click', upload);
    </script>

  <!--
  The 'footer' partial contains our site's footer. Don't forget to put your name in there :)
  -->

  <%- include( 'partials/footer' ); %>

</body>

</html>
