<!--htmlhint spec-char-escape:false -->

<!--
This partial prints out a description of the passed in listing
-->

<h2><%= listing.name %></h2>
<h3>$<%= listing.price.toFixed(2) %> per night</h3>
<p><%- listing.description %></p>