<!-- htmlhint spec-char-escape:false -->

<!--
This partial prints out features on the homepage of the site
-->

<div class="features">
    <div class="feature">
        <h2>Always dry</h2>
        <p>
            At CatBnB, we know how much you hate getting wet. That's why our boxes are guaranteed to be dry or your money back.
        </p>
    </div>
    <div class="feature">
        <h2>Boxes for every situation</h2>
        <p>
            You are unique and your box should be too. Whether you're a kitten on a budget or a fatcat millionaire, we have the box for you.
        </p>
    </div>
    <div class="feature">
        <h2>Meow meow</h2>
        <p>
            Meow meowmeowmeow purrrrrr..... purrr. Meow meow. Meeeeeow.
        </p>
    </div>
</div>