<!-- htmlhint spec-char-escape:false -->

<!--
This is the site's footer. Replace Mike & Eric with your own name!
-->

<div class="footer">
    <!-- <p>Built by <a href="http://nullcandy.com/">Mike</a> & <a href="https://dualgravity.com">Eric</a></p> -->
    <p> Built by <a href="https://github.com/yan-ren/Speech-to-Text-DesignProject"> McGill Speech to Text project group</a> </p>
</div>
