<!-- htmlhint spec-char-escape:false -->

<!--
This is the site's 'Hero', it's the main section on the site's homepage.
-->

<div class="header">
    <h1>CatBnB</h1>
    <p>
        The luxury of a box.<br>
        Whenever and wherever you want.
    </p>
    <a href="/listings">View boxes!</a>
</div>