<!-- htmlhint spec-char-escape:false -->

<!--
This partial will print a bright orange message if one is passed to it
-->

<% if ( message ) { %>
  <p class="thanks">
    <%- message %>
  </p>
<% } %>