<!-- htmlhint spec-char-escape:false -->

<!--
This partial prints out all the reviews for the passed in listing
-->

<div class="reviews">

  <% if ( listing.reviews ) { %>
  
    <% listing.reviews.forEach( function( r, i ) { %>
  
      <div class="review">
        
        <div class="rating-stars" data-val="<%= r.rating || 0 %>"></div>
        
        <% if ( r.comment ) { %>
          <p><%= r.comment %></p>
        <% } %>
        
        <h4>- <%= r.name || 'Anonymous' %></h4>
        
      </div>
          
    <% }) %>

  <% } else { %>
          
    <p>
      No reviews yet. Be the first!
    </p>
          
  <% } %>
          
</div>
        
<script>

   $( '.rating-stars' ).each( function() {
     $( this ).rateYo( { rating: $( this ).data( 'val' ) , readOnly: true } )
   })

</script>